<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boco.sys.service.ucenter.dao.MenuMapper">

    <select id="selectPermissionByUserId"
            parameterType="java.lang.String"
            resultType="com.boco.framework.model.ucenter.Menu_del">

    SELECT
        id,
        CODE,
        p_id pId,
        menu_name menuName,
        url,
        is_menu isMenu,
        LEVEL,
        sort,
        STATUS,
        icon,
        create_time createTime,
        update_time updateTiem
    FROM
      menu
    WHERE id IN
      (SELECT
        menu_id
      FROM
        permission
      WHERE role_id IN
        (SELECT
          role_id
        FROM
          user_role
        WHERE user_id = #{id}))
    </select>
</mapper>